<section class="min-h-screen flex flex-col items-center pt-10 pb-20 bg-gray-50">
    
    <h1 class="text-4xl font-bold text-gray-700 mt-12 mb-1 font-['Dancing_Script']">Cặp Đôi</h1>
    
    <div class="flex flex-col items-center mb-10">
        <div class="h-4 w-0.5 bg-red-600 -mb-2"></div>
        <span class="text-2xl text-red-600">❤️</span>
    </div>

    <div class="flex justify-center w-full max-w-6xl px-4 gap-12 flex-wrap"> 

    <div class="flex items-center w-full lg:w-[45%] relative flex-row-reverse">
        <div class="couple-image rounded-full overflow-hidden relative z-20 border-4 border-red-500 shadow-xl shadow-white/50">
            <img src="assets/images/chure.jpg" alt="Thái Tuấn" class="w-full h-full object-cover" />
           </div>
        
        <div class="bg-white py-10 pl-8 pr-20 lg:pr-32 rounded-xl shadow-lg border border-gray-100 flex flex-col justify-center h-full relative z-10 -mr-10 lg:-mr-14">
            <h2 class="text-3xl font-bold text-gray-700 mb-2 font-dancing">Ngọc thái</h2>
            <p class="text-base text-gray-600 leading-relaxed font-lora">
                Chàng trai xứ Khánh Hòa từ quê lên Sài Gòn lập nghiệp trong lĩnh vực công nghệ, 
                mang theo,Hòa từ quê lên Sài Gòn lập nghiệp trong lĩnh vực công nghệ, mang theo
            </p>
        </div>
    </div>
    
    <div class="flex items-center w-full lg:w-[45%] relative flex-row">
        <div class="couple-image rounded-full overflow-hidden relative z-20 border-4 border-red-500 shadow-xl shadow-white/50">
            <img src="assets/images/codau.jpg" alt="Hoàng Oanh" class="w-full h-full object-cover" />
        </div>

        <div class="bg-white py-10 pr-8 pl-20 lg:pl-32 rounded-xl shadow-lg border border-gray-100 flex flex-col justify-center h-full relative z-10 -ml-10 lg:-ml-14">
            <h2 class="text-3xl font-bold text-gray-700 mb-2 font-dancing">Kim Ngân</h2>
            <p class="text-base text-gray-600 leading-relaxed font-lora">
                Cô gái đến từ vùng đất nắng gió Tây Ninh lên Sài
                 Gòn lập nghiệp với ngành tài chính ngân hàng mang, gió Tây Ninh lên Sài Gòn lập nghiệp với ngành 
                 tài chính ngân hàng mang</p>
        </div>
    </div>
</div>
</section>